.App {
  text-align: center;
}

.container {
  background-image: url(https://images.unsplash.com/photo-1504630083234-14187a9df0f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

h3 {
  color: #283133;
  margin: 10px auto 10px auto;
}

.welcome-message {
  font-size: 20px;
  margin-left: 20px;
  color: white;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 30%;
  border-radius: 5px;
}

.add-button {
  margin-top: 25px !important;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray;
}

.nav-bar {
  margin-bottom: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
  color: #164f57;
}

.button {
  color: #164f57;
  margin-top: 25px !important;
}

.nav-list-item:hover {
  cursor: pointer;
}

.car-container {
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.4);
}

.car-paper {
  padding: 50px;
}
